In [1]:
import pandas as pd
from Data import DataSet

In [2]:
ds0 = DataSet("MRCLAM_Dataset1")

In [4]:
ds0.robot1.gt

           Time [s]     x [m]     y [m]  Orientation [rad]
0      1.248272e+09  3.573232 -3.332839             2.3408
1      1.248272e+09  3.573225 -3.332837             2.3407
2      1.248272e+09  3.573238 -3.332867             2.3408
3      1.248272e+09  3.573247 -3.332881             2.3408
4      1.248272e+09  3.573237 -3.332925             2.3410
...             ...       ...       ...                ...
81872  1.248274e+09  1.907083  0.321409            -1.6285
81873  1.248274e+09  1.907641  0.320245            -1.6315
81874  1.248274e+09  1.907472  0.318364            -1.6309
81875  1.248274e+09  1.906746  0.316987            -1.6272
81876  1.248274e+09  1.906273  0.316252            -1.6250

[81877 rows x 4 columns]